* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    border: 0;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #202124;
    color: #bdc1c6;
    font-family: arial, sans-serif;
    font-size: 14px;
}

header {
    display: flex;
    justify-content: flex-end;
    padding: 0.5rem;
    font-size: 0.5rem;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

nav > p > a {
    text-decoration: none;
    color: #bdc1c6;
}

nav > p > a:hover {
    text-decoration: underline;
}


main {
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    gap: 1rem;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-size: 0.5rem;
    background-color: #1b1a1a;
    color: #e8eaed;
}

footer > ul {
    display: flex;
    flex-direction: row;
}

.user-icon {
    height: 18px;
    width: 18px;
    border-radius: 50%;
    cursor: pointer;
}

.user-icon:hover {
    border: 1.5px solid #bdc1c6;
}

.google-app {
    cursor: pointer;
    padding: 0.1rem;
    border-radius: 50%;
    z-index: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.google-app:hover {
    background: #4a4d53;
}

.google {
    height: 52px;
}

.search-container {
    width: 350px;
    max-width: 500px;
    background-color: transparent;
    border: 1px solid #4a4d53;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.3rem 0.5rem;
}

.search-container:hover {
    background-color: #303134;
    border: 1px solid #303134;
}

.search-container:focus {
    background-color: #303134;
    border: 1px solid #303134;
}

.search-container:active {
    background-color: #303134;
    border: 1px solid #303134;
}

.search-container > input {
    background-color: transparent;
    width: 100%;
    border: none;
    outline: none;
    color: #bdc1c6;
    font-size: 10px;
}

button {
    font-size: 0.6rem;
    background-color: #303134;
    color: #e8eaed;
    padding: 0.3rem 0.5rem;
    border: 1px solid #303134;
    outline: none;
    border-radius: 3px;
    text-align: center;
    cursor: pointer;
}

button:hover {
    border: 1px solid #e8eaed;
}

.languages {
    font-size: 0.5rem;
}

.languages > a {
    margin-left: 5px;
}

.languages > a {
    text-decoration: none;
    color: #8ab4f8;
}

.languages > a:hover {
    text-decoration: underline;
}

.nigeria, 
.footer-links {
    padding: 0.5rem 0.7rem;
}

.nigeria {
    border-bottom: 1px solid #3c4043;
}

.footer-links {
    display: flex;
    justify-content: space-between;
}

.footer-links > ul {
    display: flex;
    gap: 1rem;
}

.footer-links > ul > li {
    list-style-type: none;
}

.leaf {
    width: 7px;
    height: 7px;
}

footer a {
    text-decoration: none;
    color: #e8eaed;
}

footer a:hover {
    text-decoration: underline;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

@media (max-width: 584px) {
    .footer-links {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 5px
    }

    .footer-links > ul {
        display: flex;
        gap: 0.5rem;
    }
}